html {
  background: url('http://www.planwallpaper.com/static/images/star_wars_battlefront_dice.0.jpg')
  no-repeat center center fixed;
  background-size: cover;
}

.wrapper {
  font-family: 'Lato';
  width: 420px;
  height: auto;
  margin: 100px auto;
  padding: 30px;
  background-color: #f5f5f5;
}

h2, h3, h4, ul {
  color: #263555;
}

.line {
  width: 380px;
  border-bottom: 1px solid #000000;
}

ul {
  column-count: 2;
  list-style-type: none;
}
