body {
  background: url('../img/gray.jpg') no-repeat;
  background-size: cover;
  font-family: 'Pathway Gothic One', sans-serif;
}

.wrapper {
  margin: 100px;
}

.top {
  color: #000;
  background: hollow;
  width: 1024px;
  margin: 0 auto 50px;
  font-size: 25px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
}

.menu__item {
  position: relative;
  display: inline-block;
  color: #000;
}

.menu__item:hover {
  color: #000;
}

#.hqc {
  display: none;
  position: absolute;
  left: -15px;
  top: 10px;
  list-style: none;
  background: #fff;
  border-radius: 2%;
  width: 130px;
  margin-top: 20px;
  padding: 10px 5px;
  color: #263555;
}

#.hqc::before {
  content: "";
  display: block;
  position: absolute;
  border-bottom: 5px solid #fff;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  bottom: 77px;
  left: 20px;
}

#.menu__item:hover>.hqc {
  display: block;
  background: #fff;
}

#.hqc__item {
  margin-top: 2px;
  font-size: 11px;
  text-align: center;
  font-size: 15px;
}

.hqc,
.pli,
.arm {
  display: none;
  position: absolute;
  left: -5px;
  top: 15px;
  list-style: none;
  background: #fff;
  border-radius: 2%;
  width: 130px;
  margin-top: 20px;
  padding: 10px 5px;
  color: #0f1626;
}

.hqc::before,
.pli::before,
.arm::before {
  content: "";
  display: block;
  position: absolute;
  border-bottom: 5px solid #fff;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  bottom: 77px;
  left: 20px;
}

.menu__item:hover>.hqc,
.menu__item:hover>.pli,
.meny__item:hover>.arm {
  display: block;
  background: #fff;
}

.hqc__item,
.pli__item,
.arm__item {
  margin-top: 2px;
  font-size: 11px;
  text-align: center;
  font-size: 15px;
}

#.arm {
  display: none;
  position: absolute;
  left: -15px;
  top: 15px;
  list-style: none;
  background: #fff;
  border-radius: 2%;
  width: 130px;
  margin-top: 20px;
  padding: 10px 5px;
  color: #263555;
}

#.arm::before {
  content: "";
  display: block;
  position: absolute;
  border-bottom: 5px solid #fff;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  bottom: 77px;
  left: 20px;
}

#.meny__item:hover>.arm {
  display: block;
  background: #fff;
}

#.arm__item {
  margin-top: 2px;
  font-size: 11px;
  text-align: center;
  font-size: 15px;
}

.godpic {
  position: relative;
  width: 50px;
  height: 100px;
}



.totop {
  position: fixed;
  background-color: #00796b;
  width: 50px;
  height: 50px;
  border-radius: 20%;
  bottom: 50px;
  right: 180px;
}
